<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Dogecoin News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('ROLE_SUPERADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Admin dasbord</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                <li>
                {% else %}
                <li>
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                <li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>