{% extends 'base.html.twig' %}

{% block title %}404 lost you are{% endblock %}

{% block body %}
    {% include '/public/_main_menu.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="er_404">
                    <h1 class="text-center">
                        :-0 Lost you are? What you seek is not here...
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}