<div class="crypto_flash">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Latest crypto news</h2>
            </div>
            {# news list #}
            {% for crt in cryptonews %}
                <div class="col-md-12">
                    <div class="news_flash">
                        <h2>
                            <a href="news/{{ crt.utl }}">{{ crt.title }}</a>
                        </h2>

                        <!--<div class="ct_news">
                            {#{  crt.content | slice(0, 600) | raw}#}...
                        </div>-->

                        <div class="pub_date">
                            <span class="float-right date_span">
                                {{ crt.publish_date | date("Y/m/d") }}
                            </span>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>